@page
@model EventTracker.Views.Dashboard.Event
@{
    @if (User.Identity.IsAuthenticated)
     {
         <div>
             <h2>Past Events</h2>
             @*@Model.EventName
        @Model.Location - @Model.DateTime.ToLongDateString()
        @Model.Organizer*@
         </div>
         <div>
             <h2>Upcoming Events</h2>
         </div>
         <div>
             <h2>Suggested Events</h2>
         </div>
     }

}